<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tell</key>
		<string>1</string>
		<key>passwd</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>tell</key>
		<string>15507835782</string>
		<key>passwd</key>
		<string>lovedy</string>
	</dict>
	<dict>
		<key>tell</key>
		<string>15277014565</string>
		<key>passwd</key>
		<string>lovewj</string>
	</dict>
</array>
</plist>
