<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>春风轻起，明媚阳光，行走中邂逅永恒的美景</string>
		<key>call</key>
		<string>call</string>
		<key>goodImg</key>
		<string>已赞</string>
		<key>commentArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>烤玉米</string>
				<key>content</key>
				<string>我特别好吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>橘子</string>
				<key>content</key>
				<string>来橘子洲玩吧！</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臭豆腐</string>
				<key>content</key>
				<string>我很好吃哦</string>
			</dict>
			<dict>
				<key>name</key>
				<string>周黑鸭</string>
				<key>content</key>
				<string>看到我就会留口水吧～</string>
			</dict>
		</array>
		<key>titleComment</key>
		<string>查看全部评论</string>
		<key>from</key>
		<string>iphone10s plus</string>
		<key>goodNameArr</key>
		<array>
			<string>橘子</string>
			<string>臭豆腐</string>
			<string>雪球</string>
			<string>包子</string>
			<string>炸蟹</string>
			<string>烤玉米</string>
			<string>周黑鸭</string>
		</array>
		<key>btnArr</key>
		<array>
			<dict>
				<key>icon</key>
				<string>btn_1</string>
				<key>number</key>
				<string>10</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>btn_2</string>
				<key>number</key>
				<string>12</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>btn_3</string>
				<key>number</key>
				<string>18</string>
			</dict>
		</array>
		<key>message</key>
		<string>离高速公路出入口不到两公里，海南东环高速铁路建成通车</string>
		<key>messageImg</key>
		<string>img_0</string>
		<key>messageImgArr</key>
		<array>
			<string>img_0</string>
			<string>img_1</string>
			<string>img_2</string>
			<string>img_3</string>
			<string>img_4</string>
			<string>img_5</string>
			<string>img_6</string>
			<string>img_7</string>
			<string>img_8</string>
		</array>
		<key>time</key>
		<string>07-08 14:00</string>
		<key>peopleImg</key>
		<string>头像</string>
		<key>peopleName</key>
		<string>俊哥</string>
		<key>job</key>
		<string>九天总载</string>
	</dict>
	<dict>
		<key>title</key>
		<string>春风轻起，明媚阳光，行走中邂逅永恒的美景</string>
		<key>call</key>
		<string>call</string>
		<key>goodImg</key>
		<string>已赞</string>
		<key>commentArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>烤玉米</string>
				<key>content</key>
				<string>我特别好吃</string>
			</dict>
			<dict>
				<key>name</key>
				<string>橘子</string>
				<key>content</key>
				<string>来橘子洲玩吧！</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臭豆腐</string>
				<key>content</key>
				<string>我很好吃哦</string>
			</dict>
			<dict>
				<key>name</key>
				<string>周黑鸭</string>
				<key>content</key>
				<string>看到我就会留口水吧～</string>
			</dict>
		</array>
		<key>titleComment</key>
		<string>查看全部评论</string>
		<key>from</key>
		<string>iphone10s plus</string>
		<key>goodNameArr</key>
		<array>
			<string>橘子</string>
			<string>臭豆腐</string>
			<string>雪球</string>
			<string>包子</string>
			<string>炸蟹</string>
			<string>烤玉米</string>
			<string>周黑鸭</string>
		</array>
		<key>btnArr</key>
		<array>
			<dict>
				<key>icon</key>
				<string>btn_1</string>
				<key>number</key>
				<string>10</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>btn_2</string>
				<key>number</key>
				<string>12</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>btn_3</string>
				<key>number</key>
				<string>18</string>
			</dict>
		</array>
		<key>message</key>
		<string>离高速公路出入口不到两公里，海南东环高速铁路建成通车</string>
		<key>messageImg</key>
		<string>img_0</string>
		<key>messageImgArr</key>
		<array>
			<string>img_0</string>
			<string>img_1</string>
			<string>img_2</string>
			<string>img_3</string>
			<string>img_4</string>
			<string>img_5</string>
			<string>img_6</string>
			<string>img_7</string>
			<string>img_8</string>
		</array>
		<key>time</key>
		<string>07-08 14:00</string>
		<key>peopleImg</key>
		<string>头像</string>
		<key>peopleName</key>
		<string>俊哥</string>
		<key>job</key>
		<string>九天总载</string>
	</dict>
</array>
</plist>
