<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>伞</string>
		<key>score</key>
		<string>1000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水杯</string>
		<key>score</key>
		<string>2000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>充电宝</string>
		<key>score</key>
		<string>3000</string>
	</dict>
</array>
</plist>
