<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Shopping.plist
   文俊购房

   Created by 俊帅 on 17/4/26.
   Copyright (c) 2017年 wj. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
